
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>德行家会员注册成功</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container"> 
        <div class="row col-xs-12 col-sm-12 text-center" style="margin-top:50%">
          注册成功
        </div>
    </div>
</body>
</html>
