<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>德行家会员管理</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js"></script>
  
    <style type="text/css">
        .nav-list {
            padding: 0px;
            margin: 0px;
            height: 100%;
            background-color: rgb(47,50,62);
        }

        .list-Title {
            padding: 0px;
            margin: 0px;
            height: 50px;
            color: #d5d6d8;
            text-align: center;
            vertical-align: middle;
            font-size: large;
        }

        .nav-header {
            padding: 0px;
            margin: 0px;
            background-color: white;
        }

        .panel-body {
            padding: 15px;
            background-color: white;
        }

        .Main {
            padding: 0px;
            margin: 0px;
            height: 100%;
        }

        .list-group-item {
            background-color: rgb(47,50,62);
            border: 0px;
            color: #d5d6d8;
        }

            .list-group-item:hover {
                background-color: rgb(63,68,86);
            }
        .h1{
            color:black;
        }
        body, html {
            padding: 0px;
            margin: 0px;
            height: 100%;
            background: rgb(231,232,235);
        }
    </style>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript">
        function liclick(i) {
            switch (i) {
                case 1:
                    window.location.href = "/lycustomers";
                    break;
                case 2:
                    window.location.href = "/lystores";
                    break;
                case 3:
                    window.location.href = "/lyproducts";
                    break;
            }
        }
    </script>
</head>
<body>
    <div class="Main container-fluid">

        <div class="col-md-1 col-lg-1 col-xs-1 nav-list">
            <ul class="list-group">
                <li class="list-group-item" onclick="liclick(1)">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>用户管理</span>
                </li>
                <li class="list-group-item" onclick="liclick(2)">
                    <span class="glyphicon glyphicon-share"></span>
                    <span>店家管理</span>
                </li>
                <li class="list-group-item" onclick="liclick(3)">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span>产品管理</span>
                </li>
            </ul>
        </div>
        <div class="col-md-11 col-lg-11 col-xs-11 Main">
            <div class="col-md-12 nav-header">
                <div class="h1">德行家</div>
            </div>
            <div class="col-md-12 panel-body">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>